@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.beni
{
	height: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
	background-color: #CB4539;
}

.bjr
{
	font-family: 'Roboto', sans-serif;
	color: #F6C782;
	font-size: 30px;
}

.nom
{
	font-family: 'Playfair', serif;
	color: white;
	font-size: 100px;
}

.fonction
{
	font-family: 'Roboto', sans-serif ;
	color: white;
	font-size: 30px;
}

.web
{
	width: 230px;
	height: 50px;
	display: flex;
    align-items: center;
    justify-content: center;
	font-size: medium;
	color: #F6C782;
	background-color: #CB4539;
	border-radius: 10px;
}

/*menu*/
body
{
	margin: 0%;
	background-color: #CB4539;
}

header
{
	width: 100%;
	height: 100px;
}

#tete_de_page
{
	height: 100px;
	display: flex;
	align-items: center;
	box-shadow: 0px 4px 26px grey;
	background-color: #CB4539;
	color: white;
}

.logo
{
	margin-left: 70px;
	width: 120px;
	height: 70px;
	background-image: url("images/bm.png");
	background-position: center;
	background-repeat: no-repeat;
}

nav ul
{
	display: flex;
	width: 900px;
	list-style-type: none;
	height: 50px;
	align-items: center;
	justify-content: space-around;
}

nav
{
	margin-left: 70px;
	height: 100px;
	padding-top: 10px;
}

nav a
{
	color: black;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	transition-duration: 0.4s;
	border-bottom: solid 3px #CB4539;
	color: white;
}

nav a:hover
{
	border-bottom: solid 3px #F6C782;
	color: #F6C782;
}

/*parcours*/
.parcours
{
	display: flex;
	flex-direction: row;
	height: 820px;
	overflow: hidden;
}

.a_propos
{
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #CB4539;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.a_propos h3
{
	font-family: 'Roboto', serif;
	color: #F6C782;
	text-transform: uppercase;
	transition-duration: 0.4s;
}

.a_propos p
{
	border: solid 1px #ac8c5d;
	width: 350px;
	overflow: hidden;
	padding: 15px;
	font-size: 23px;
	transition-duration: 0.4s;
}

.a_propos p:hover
{
	border: solid 1px #F6C782;
}


.un p
{
	height: 250px;
}

.deux p
{
	height: 150px;
}

.a_propos div
{
	margin-left: 100px;
}

.scolaire
{
	width: 60%;
	height: 100%;
	background-color: #CB4539;
	color: white;
	font-family: 'Roboto', sans-serif;
}

.scolaire h3
{
	color: #F6C782;
}

.cursus li
{
	border: solid 1px #ac8c5d;
	width: 350px;
	height: 250px;
	overflow: hidden;
	margin: 20px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 10px;
	padding-right: 10px;
	font-size: large;
	transition-duration: 0.4s;
}

.cursus li:hover
{
	border: solid 1px #F6C782;
}

.cursus
{
	display: flex;
	flex-wrap: wrap;
}

.parcours i
{
	border-bottom: solid 3px #F6C782;
	padding-bottom: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* compétences */

.competences
{
	background-color: #CB4539;
}

.frontend
{
	list-style-type: none;
	height: 410px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.frontend ul
{
	display: flex;
	list-style: none;
	justify-content: center;
	align-items: center;
	width: 800px;
	height: 200px;
}

.frontend li
{
	align-items: center;
	width: 200px;
	height: 200px;
}

.html
{
	background-image: url("images/html.png");
	background-position: center;
	background-repeat: no-repeat;
}

.css
{
	background-image: url("images/css.png");
	background-position: center;
	background-repeat: no-repeat;
}

.javascript
{
	background-image: url("images/javascript.png");
	background-position: center;
	background-repeat: no-repeat;
}

.dart
{
	background-image: url("images/dart.png");
	background-position: center;
	background-repeat: no-repeat;
}

.flutter
{
	background-image: url("images/flutter.png");
	background-position: center;
	background-repeat: no-repeat;
}

.backend
{
	list-style-type: none;
	height: 410px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.backend ul
{
	display: flex;
	list-style: none;
	justify-content: center;
	align-items: center;
	width: 800px;
	height: 200px;
}

.backend li
{
	align-items: center;
	width: 200px;
	height: 200px;
	margin: 10px;
}

.backend
{
	list-style-type: none;
	height: 410px;
}

.php
{
	background-image: url("images/php.png");
	background-position: center;
	background-repeat: no-repeat;
}

.mysql
{
	background-image: url("images/mysql.png");
	background-position: center;
	background-repeat: no-repeat;
}

.firebase
{
	background-image: url("images/firebase.png");
	background-position: center;
	background-repeat: no-repeat;
}

.competences span
{
	border-bottom: #F6C782 solid 3px;
}

.competences h1
{
	color: white;
	font-family: 'Playfair', serif;
}

.contact
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}

.coordonnees
{
	color: white;
	width: 1000px;
	height: 200px;
	display: flex;	
	align-items: center;
	justify-content: space-around;
	list-style-type: none;
	padding-left: 150px;
	font-family: 'Roboto', sans-serif;
}

.contact p
{
	color: #F6C782;
	font-family: 'Roboto', sans-serif;
}

.contact h1
{
	color: white;
}

.contact span
{
	border-bottom: solid 3px #F6C782;
}

.coordonnees li
{
	width: 250px;
	height: 30px;
}

.coordonnees ul
{
	display: flex;
	justify-content: center;
}

.coordonnees i
{
	color: #ac8c5d;
	margin-right: 5px;
	transition-duration: 0.4s;
}

.coordonnees i:hover
{
	color: #F6C782;
	margin-right: 5px;
}

#footer
{
	display: flex;
	border: saddlebrown solid 2px;
	height: 282px;
	align-items: center;
	justify-content: space-around;
}

.formation
{
	display: flex;
	justify-content: center;
	flex-direction: column;
	border: salmon solid 2px;
	width: 380px;
	height: 122px;
}

.reseaux_sociaux
{
	display: flex;
	padding-top: 20px;
	justify-content: center;
	flex-direction: column;
	border: solid 2px wheat; 
	height: 122px;
	width: 380px;
}

.reseaux
{
	display: flex;
}
